<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @admin.first_name %>  <%= @admin.last_name %> ! !</h1>
    <p>
      Bravo ! tu as un nouvel inscrit à ton event <%= @user.first_name %>.
    </p>
    <p>
      Pour accéder à ton espace client, connecte-toi via : <%= @url %>.
    </p>
    <p> À très vite sur fannyfashion.fr !
  </body>
</html>